################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/src/.vs/AduSkin
/src/AduSkin/bin
/src/AduSkin/obj
/src/AduSkin.Demo/bin
/src/AduSkin.Demo/obj
/src/AduVideoPlayer/bin
/src/AduVideoPlayer/obj